<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Gestão de Loja</title>
</head>
<body>
<section layout:fragment="content">
    <h2 th:if="${loja.id == null}">Cadastro de Nova Loja</h2>
    <h2 th:unless="${loja.id == null}">Edição de Loja</h2>
    <hr>
    <form th:action="@{/admin/lojas/salvar}" th:object="${loja}" method="post">
        <input type="hidden" th:field="*{id}" />
        
        <div class="form-group mb-3">
            <label>Nome da Loja</label>
            <input type="text" class="form-control" th:field="*{nome}" required/>
        </div>
        <div class="form-group mb-3">
            <label>CNPJ</label>
            <input type="text" class="form-control" th:field="*{cnpj}" required/>
        </div>
        <div class="form-group mb-3">
            <label>Email de Login</label>
            <input type="email" class="form-control" th:field="*{email}" required/>
        </div>
        <div class="form-group mb-3">
            <label>Senha</label>
            <input type="password" class="form-control" th:field="*{password}" th:required="${loja.id == null}"/>
            <small class="form-text text-muted">Deixe em branco para manter a senha atual (em caso de edição).</small>
        </div>
        <div class="form-group mb-3">
            <label>Descrição</label>
            <textarea class="form-control" th:field="*{descricao}" required></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</section>
</body>
</html>