<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout-base(content = ~{::content})}">
<body>
<div th:fragment="content">
    <h2>Lista de Clientes</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.email}"></td>
                <td th:text="${cliente.cpf}"></td>
                <td>
                    <a th:href="@{/admin/clientes/excluir/{id}(id=${cliente.id})}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>